@{
    ViewData["Title"] = "About";
}

@using HospitalDb.Models;
@using System.Linq;
@model List<Doctor>


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h1>
    Списък с лекари    
 </h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Име</th>
            <th>Специалност</th>
            <th>Кабинет</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
        <tr>
            <td>@d.Name</td>
            <td>@d.Specialnost</td>
            <td>@d.Cabinet</td>
        </tr>
        }
    </tbody>
</table>
<p>Use this area to provide additional information.</p>
