@model WebInterfaceBd.Models.Clients

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LichnaKarta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LichnaKarta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditCard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditCard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KolaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KolaNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Kola">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
